{% extends 'base.html.twig' %}

{% block title %}Coment index{% endblock %}

{% block body %}
    <h1>Coment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Contingut</th>
                <th>Autor</th>
                <th>Projecte</th>
                <th>DataCreacio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coment in coments %}
            <tr>
                <td>{{ coment.id }}</td>
                <td>{{ coment.contingut }}</td>
                <td>{{ coment.autor }}</td>
                <td>{{ coment.projecte }}</td>
                <td>{{ coment.dataCreacio ? coment.dataCreacio|date('d-m-Y') : '' }}</td>
                <td>
                    <a href="{{ path('app_coment_show', {'id': coment.id}) }}">show</a>
                    <a href="{{ path('app_coment_edit', {'id': coment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_coment_new') }}">Create new</a>
{% endblock %}
